<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>seal!!?!</title>
    <link rel='icon' type='image/png' href='seal.png'>
    <link rel="stylesheet" href="index.css">
    <script src="angular/angular.min.js"></script>
    <script src="index.js"></script>
  </head>
  <body ng-app='sealapp' ng-controller='indexctrl'>
    <div id="main_div">
      <div id="header">{{header}}</div>
      <img id="seal" src="seal.png">
      <div id="button_div">
        <button class="seal_button_bounce" id="btn_seal" ng-click="press_button('seal',1)">seal</button>
        <button class="seal_button_bounce" id="btn_not_seal" ng-click="press_button('notseal',1)">not seal</button>
      </div>
      <div id='counter_div'>
        <a id='counter_text'>seal: {{seal_presses}} notseal: {{notseal_presses}}</a>
        <button id='reset_btn' ng-click="reset_counters()">reset</button>
      </div>
    </div>
  </body>
</html>
